*{
    padding:0 ;
    margin: 0;
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/*new comment*/
.main{
    height: 960px;
    width: 100%;
    background-image: url("../img/bgheader.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    width: 100%;
    max-width: 1531px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
